<!DOCTYPE html>
<html>
	<head>
		<title>RUMOAuth - @ViewData["title"]</title>
		<link rel="stylesheet" href="~/css/style.css" />
	</head>
	<body>
		@RenderBody()
		<script src="~/js/index.js"></script>
		<script src="~/provider/jquery.min.js"></script>
	</body>
</html>